language: objective-c

osx_image: xcode7.3

cache:
  directories:
    - Carthage

before_install: 
  - brew update
  - brew upgrade xctool || true
  - brew upgrade carthage || true
  - carthage bootstrap --platform ios --no-use-binaries


# Lets clean and build.
script: travis_wait 60 xcodebuild CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= PROVISIONING_PROFILE= ONLY_ACTIVE_ARCH=NO VALID_ARCHS="i386 x86_64" -destination 'platform=iOS Simulator,name=iPhone 4s,OS=9.3' -sdk iphonesimulator -project 'Client.xcodeproj' -scheme "FennecCI" clean build | xcpretty

# Lets keep test seperate

# xcodebuild CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= PROVISIONING_PROFILE= ONLY_ACTIVE_ARCH=NO VALID_ARCHS="i386 x86_64" -destination 'platform=iOS Simulator,name=iPhone 4s,OS=9.3' -sdk iphonesimulator -project 'Client.xcodeproj' -scheme "FennecCI" clean build 
#     - xcpretty --color --report junit --output $CIRCLE_TEST_REPORTS/xcode/results.xml < $CIRCLE_ARTIFACTS/xcode_raw.log || exit 0

#osx_image: beta-xcode6.3
#language: objective-c
#env:
#  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8
#before_install:
#  - gem install xcpretty -N
#script:
#  - set -o pipefail
#  - brew update
#  - brew install carthage
#  - ./checkout.sh
#  - rm -rf build
#  - xcodebuild -project Client.xcodeproj -scheme "Firefox" -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 6" ONLY_ACTIVE_ARCH=NO -derivedDataPath build clean test | xcpretty -c
#
#notifications:
#  email: false
#  irc:
#    channels:
#      - "irc.mozilla.org#firefoxios"
#    on_success: change
#    on_failure: always

# This stopped working
#  - xctool -project Client.xcodeproj -scheme Travis -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
#  - xctool test -freshSimulator -project Client.xcodeproj -scheme Travis -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
